/* Google Fonts */
// @import url(https://fonts.googleapis.com/css?family=XXXXXXXXXXXXXXX);

@import '~normalize.css';

/* General */
@import 'reset';

/* Mixins */
@import 'mixins/media-queries';

/* CLEARING */
.cleared:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.cleared {display:inline-block;}
/* Hides from IE-mac \*/
* html .cleared {height:1%;}
.cleared {display:block;}
/* End hide from IE-mac */
/* END CLEARING */

body {
	visibility:visible !important;
    background-color:violet;
}